{erl_opts, [debug_info]}.

{deps, [
    {nova, "~> 0.12"}
]}.

{dialyzer, [
    {plt_apps, all_deps},
    {plt_extra_apps, [inets, cowboy]}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]},
        {extra_src_dirs, ["test/support"]},
        {deps, [
            {proper, "1.4.0"}
        ]}
    ]}
]}.
